* {
  margin: 0; /* espaçamento externo */
  padding: 0; /* espaçamento interno  */
  box-sizing: border-box; /* respeitar bordas */
}
/* css é em cascata logo oque for declarado por ultimo conta mais */

:root {
  font-size: 16px; /* define uma base para o site e deve-se usar o rem nas fonts-size em seguida calculo é que vai mudar / root  */
}

::-webkit-scrollbar {
  width: 8px; /*  mudar o tamanho da scrollbar  */
}

::-webkit-scrollbar-track {
  background-color: #2c2c31; /* estilizando a barra de rolagem do navegador */
}

::-webkit-scrollbar-thumb {
  background-color: #9e9ea0; /* estilizando a barra de dentro da barra de rolagem */
}

@keyframes entering {
  /* forma de fazer animações */
  from {
    opacity: 0;
    transform: translateY(-200px); /* vem de fora da tela no eixo y coluna */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* para o padrão */
  }
  /* pode ser usado como tanto em % 10% 50% como de from para to */
}
body {
  background-color: #121215;
  color: #eaeaea;
  font-family: "Roboto", sans-serif; /* buscado no google fonts */
  display: grid; /* recurso que separa a página  */
  grid-template-areas: "profile timeline"; /* definindo os nomes das areas  */
  grid-template-columns: 1fr 1fr; /* proporção da pagina nas colunas*/
  grid-template-rows: 100vh;
}

nav {
  padding: 64px;
  grid-area: timeline; /* definindo a area */

  overflow-y: scroll; /*  oque possibilita a rolagem somente nesta area  */

  animation: entering 0.7s; /* colocando animação dentro do nav */
}

.memory {
  display: flex; /*organiza os elementos */
  flex-direction: column; /* direciona o flex */
  gap: 16px; /*   da um espaçamento um gap entre os elementos */
  text-decoration: none;
  margin-bottom: 64px;
}

.memory small {
  /* (.blabla) o . condiz com class, usase a class quando devesse repetir como o codigo a seguir */
  color: #bebebf;
  font-size: 0.75rem; /*  usando rem por conta do root, comentario a cima  */
}

.memory h1 {
  font-size: 2rem; /*  usando rem por conta do root, comentario a cima  */
  color: #eaeaea;
}

.memory img {
  width: 100%;
  height: 280px;
  object-fit: cover; /* não importa o quanto aumentar ele vai dar um zoom na imagem ao invés de sticar */
  border-radius: 8px; /* arredodonda as bordas */

  transition: transform 0.4s ease-in-out;
}

.memory div {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 8px;
}

.memory:hover img {
  transform: scale(1.1);
}

.memory p {
  font-size: 1.2rem; /*  usando rem por conta do root, comentario a cima  */
  color: #bebebf;
  line-height: 28px; /* tamanho da linha*/
}

aside {
  grid-area: profile; /*  definindo a area  */

  display: flex; /* torna o display flexivel */
  flex-direction: column; /* torna a flexização por coluna, se não fica ao lado */
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-right: 1px solid;
  border-image: linear-gradient(#727275, #2c2c31) 1;

  background-image: url("./assets/background.svg"); /*  definindo uma imagem de fundo  */
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

aside * {
  /* colocando animação somente dentro dos elementos com uso do * */
  animation: entering 0.7s;
}

aside img:nth-child(2) {
  width: 160px;
  height: 160px;
  border-radius: 50%; /* deixa a imagem redonda */

  border: 4px solid transparent;
  background: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box,
    linear-gradient(260deg, #d39e33, #ed5636, #633bbc) border-box;
}

aside p {
  font-size: 2rem; /*  usando rem por conta do root, comentario a cima  */
  text-align: center;
}

aside span {
  font-size: 0.75rem; /*  usando rem por conta do root, comentario a cima  */
  color: #9e9ea0;
}

@media (max-width: 768px) {
  /* as definições a seguir só vão ser executados quando a tela tiver a largura menor que 768px  */
  :root {
    font-size: 14px; /* redefine para telas menores que 768px para 14px */
  }

  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas: /*  redefine o grid para que ele seja 1 coluna e 2 linhas   */
      "profile"
      "timeline";
  }

  aside {
    border-right: none; /*  retirou a borda  */
    padding: 32px 12px;
  }

  nav {
    overflow-y: visible; /* arrumou a barra para ficar na tela toda  */
    padding: 22px;
  }
}
